<%- include header %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
    <section class="page-header">
        <h1>
            控制台
            <small>文档管理</small>
        </h1>
    </section>
    <div class="panel">
        <a class="btn btn-primary btn-sm" type="button" href="/admin/doc-publish">
            <span class="fa fa-plus-square">&nbsp;</span>
            添加文档
        </a>
        <button class="btn btn-danger btn-sm" ng-click="batchDel()" role="button"><span class="fa fa-fw fa-trash-o"
                                                                                        aria-hidden="true">&nbsp;</span>批量删除
        </button>
        <div class="pull-right">
            <!--搜索框-->
            <form action="/admin/manage/contentList" name="searchForm" class="ng-pristine ng-valid">
                <div class="input-group">
                    <input type="text" name="searchKey" id="searchInput" class="form-control input-sm pull-right"
                           style="width: 200px;" placeholder="请输入需要查询的关键字" value="">
                    <div class="input-group-btn" style="width: auto;">
                        <button class="btn btn-sm btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
            <tr>
                <th><input type="checkbox" class="mini" id="selectAll"></th>
                <th>缩略图</th>
                <th>文章标题</th>
                <th>创建时间</th>
                <th>分类</th>
                <th>来源</th>
                <th>推荐</th>
                <th>浏览次数</th>
                <th>评论数</th>
                <th>性质</th>
                <th>操作</th>
            </tr>

            </thead>
            <tbody>
            <% for(var i = 0;i < docs.length;i++){ %>
            <tr>
                <td><input type="checkbox" name="listItem" class="mini" value=<%= docs[i]._id %>></td>
                <td>
                    <a href="#" class="thumbnail">
                        <img src=<%= docs[i].img_url %> alt="冷夜流星博客" width="121" height="170">
                    </a>
                </td>
                <td>
                    <a href="#"><%= docs[i].title %></a>
                </td>
                <td><%= docs[i].create_at %></td>
                <td><%= docs[i].category_name %></td>
                <td>
                    <%
                        var from = "原创";

                        if (docs[i].from == 0) {

                            from = "转载";
                        }
                    %>
                    <%= from %>
                </td>

                <td>
                    <% if(docs[i].is_recommend){ %>
                    <i class="fa fa-fw fa-flag text-primary"></i>
                    <% } else { %>
                    <i class="fa fa-fw fa-flag"></i>
                    <% } %>
                </td>

                <td><%= docs[i].visit_count %></td>
                <td><%= docs[i].comment_count %></td>

                <td>
                    <%
                        var draft = "正文";

                        if (docs[i].is_draft) {

                            draft = "草稿";
                        }
                    %>

                    <%= draft %>
                </td>

                <td>
                    <a href="/admin/doc-edit/<%= docs[i]._id %>" title="编辑"
                       class="btn btn-primary btn-xs">
                        <i class="fa fa-edit"></i>
                    </a>

                    <% if( docs[i].is_recommend ){ %>
                    <a href="###" title="取消推荐" class="btn btn-default btn-xs is_recommend"
                       doc-id=<%= docs[i]._id %> data-value="0">
                        <i class="fa fa-thumbs-o-down"></i>
                    </a>
                    <% } else { %>
                    <a href="###" title="推荐" class="btn btn-warning btn-xs is_recommend"
                       doc-id=<%= docs[i]._id %> data-value="1">
                        <i class="fa fa-thumbs-o-up"></i>
                    </a>
                    <% } %>

                    <button class="doc_del btn btn-default btn-xs" doc-id=<%= docs[i]._id %> title="删除">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <input type='hidden' id="csrf" name='_csrf' value='<%= csrf %>'/>
    </div>

    <nav>
        <ul class="pagination">
            <% if(curPage - 1 > 0 ){ %>
            <li>
                <a href="/admin/doc-list/page/<%= curPage - 1 %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% } %>
            <% for (var i = 1; i <= pageCount; i++){ %>
            <li>
                <a href="/admin/doc-list/page/<%= i %>"><%= i %></a>
            </li>
            <% } %>
            <% if(pageCount >= curPage + 1 ){ %>
            <li>
                <a href="/admin/doc-list/page/<%= curPage + 1 %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <% } %>
        </ul>
    </nav>

    <script>
        $(document).ready(function () {

            $('.doc_del').on('click', function () {
                var doc_id = $(this).attr("doc-id");
                var _csrf = $('#csrf').val();
                if (doc_id && confirm('确定要删除该文章吗？')) {
                    $.post('/admin/doc-del', {
                        id: doc_id,
                        _csrf: _csrf
                    }, function (res) {
                        if (!res.success) {
                            alert(res.msg);
                        } else {
                            location.href = 'doc-list';
                        }
                    });
                }
            });

            $('.is_recommend').on('click', function () {

                var doc_id = $(this).attr("doc-id");
                var value = $(this).data("value");
                var _csrf = $('#csrf').val();
                $.post('/admin/doc-recommend-do', {
                    id: doc_id,
                    is_recommend: value,
                    _csrf: _csrf
                }, function (res) {
                    if (!res.success) {
                        alert(res.msg);
                    } else {
                        location.href = 'doc-list';
                    }
                });

                return false;
            });
        });

    </script>

<%- include footer.ejs %>