<div class="panel">
  <a class="btn is-primary" href="/admin/doc/publish">
		<span class="fa fa-plus-square">&nbsp;</span> 添加文档
	</a>
  <button class="btn is-danger" id="btnListDel">
    <span class="fa fa-fw fa-trash-o">&nbsp;</span> 批量删除
  </button>
  <div class="pull-right">
    <!--搜索框-->
    <form action="/admin/manage/contentList" name="searchForm">
      <div class="search-input-group">
        <input type="text" name="searchKey" id="searchInput" class="form-control input-sm pull-right" style="width: 200px;" placeholder="请输入需要查询的关键字" value="">
        <button class="btn is-primary" style="margin-left: 5px;" type="submit"><i class="fa fa-search"></i>搜索</button>
      </div>
    </form>
  </div>
</div>
<div class="table-wrapper">
  <table class="table" cellspacing="0" cellpadding="0" border="0">
    <!-- <colgroup>
      <col width="200">
      <col width="80">
      <col width="80">
    </colgroup> -->
    <thead class="table-header">
      <tr>
        <th>缩略图</th>
        <th>文章标题</th>
        <th>创建时间</th>
        <th>分类</th>
        <th>浏览次数</th>
        <th>评论数</th>
        <th>性质</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0;i < articles.length;i++){ %>
        <tr>
          <td>
            <a href="#" class="thumbnail">
							<img src="<%= articles[i].screenshot %>" alt="冷夜流星博客" width="100" height="60">
						</a>
          </td>
          <td>
            <a href="/blog/articles/<%= articles[i].id %>">
              <%= articles[i].title %>
            </a>
          </td>
          <td>
            <%= parseTime(articles[i].createdAt) %>
          </td>
          <td>
            <%= articles[i].category.name %>
          </td>
          <td>
            <%= articles[i].viewsCount %>
          </td>
          <td>
            <%= articles[i].commentCount %>
          </td>
          <td>
            <%
                            var draft = "正文";
                            if (articles[i].is_draft) {
                                draft = "草稿";
                            }
                        %>
              <%= draft %>
          </td>
          <td>
            <a href="/admin/doc/<%= articles[i]._id %>/edit" title="编辑" class="btn btn-primary btn-xs">
							<i class="fa fa-edit"></i>
						</a>
            <button class="doc_del btn btn-default btn-xs" data-id="<%= articles[i]._id %>" title="删除">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>
  <input type='hidden' id="csrf" name='_csrf' value='<%= csrf %>' />
</div>